body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("dwarven-cityz.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(245, 222, 179, 0.2);
}

.header h1 {
  flex: 0 0 auto;
  margin-right: auto;
  color: rgba(255, 166, 0, 0.919);
  font-size: 70px;
  margin: 60px;
}

.header .topnav {
  flex: 1 0 auto;
  margin-right: auto;
}

.header .topnav a {
  margin-left: 70px;
  font-size: 30px;
  color: rgb(245, 222, 179);
  overflow: hidden;
  text-decoration: none;
}

.header .topnav a:hover {
  color: #808080;
}

.header .nav {
  flex: 0 0 auto;
}

.header .nav a {
  padding: 8px 16px;
  text-decoration: none;
  background-color: #808080;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 25px;
  font-size: 30px;
  margin-right: 100px;
}

.header .nav a:hover {
  color:#ffffff;
  background-color: #4e6172;
}

body h1 {
  color: #808080;
  font-size: 40px;
  margin: 60px;
}

#tavern {
    
    opacity: .8;
}
