body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("dwarven-cityz.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(245, 222, 179, 0.6);
  border-opacity:
  
}

.header h1 {
  flex: 0 0 auto;
  margin-right: auto;
}

.header .topnav {
  flex: 1 0 auto;
  margin-right: auto;
}

.header .topnav a {
  margin-left: 70px;
  font-size: 30px;
  color: rgb(245, 222, 179);
  overflow: hidden;
  text-decoration: none;
}

.header nav {
  flex: 0 0 auto;
}

body h1 {
  color: rgba(255, 166, 0, 0.919);
  font-size: 70px;
  margin: 60px;
}
